<!-- Page Wrapper -->
<div id="wrapper" *ngIf="!isMobile" style="height: 100%;">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>
				<!-- Topbar Navbar -->
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
					<div class="sidebar-brand-text mx-3"><img src="{{practiceObj.logoPath}}" alt="logo"></div>
				</a>
			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->

			<div class="container-fluid">
				<div class="row m-w100">
					<div class="col-md-5 col-sm-12 col-xs-12 m-auto">
						<h3 class="mt-4 text-center">Welcome<span class="d-block mt-1 mb-4" style="font-size: 13px;"><i
									class="fa fa-info-circle"></i>Please check in here to join your doctor if you
								consent for this secure video visit.</span></h3>
						<div class="card">
							<div class="card-body pt-5 pb-5">
								<form action="" class="user" [formGroup]="patRegForm">
									<input type="text" class="form-control post-invitation"
										placeholder="Enter Your Name" name="name" formControlName="patientName" />
									<small style="color: red;" *ngIf="isControlHasError('patientName','required')">Enter
										Your Name</small>
									<div class="custom-control custom-checkbox mt-4 text-center">
										<input type="checkbox" class="custom-control-input" id="customCheck" checked
											formControlName="acceptTerms" />
										<label class="custom-control-label font-weight-normal" for="customCheck">By
											clicking you will accept our <a href="">Terms and Conditions</a></label>

									</div>
									<button type="submit" class="btn btn-primary d-inline mt-5 text-center"
										style="width: 100%;" href="javascript:;" (click)="LoginPatient()"
										[disabled]="!disableCheckInBtn">Check In</button>
									<!-- <a href="" class="text-gray-400 d-block mt-4 d-inline">Cancel</a> -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="sticky-footer bg-transparent">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span class="text-black"><img src="/img/logo-cap.png" class="powered-footer-logo d-block">Powered by
						&copy;
						Danphe Telehealth 2020 </span>
				</div>
			</div>
		</footer>
	</div>
</div>

<pat-reg-mobile *ngIf="isMobile"></pat-reg-mobile>