################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeleMedicine/bin/Debug/netcoreapp3.1
