<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->    
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <!-- Topbar Navbar -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
  
              <div class="sidebar-brand-text mx-3"><img src="./img/logo.png" alt=""></div>
            </a>
            <ul class="navbar-nav ml-auto">
  
              <div class="topbar-divider d-none d-sm-block"></div>
              
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Manoj Adhikari</span>
                  <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
  
            </ul>
  
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
  
          <div class="container-fluid">          
            <div class="row m-w100">
              <div class="col-md-4 col-sm-12 col-xs-12 m-auto">
                <div class="card">
                  <div class="card-body">
                    <!-- Report Printable Area -->
                    <style type="text/css" media="Print">
                      table{
                        font-family: 'Verdana';
                      }
                      @media Print{
                        table{
                          font-family: 'Verdana';
                        }
                      }
                    </style>
                    <table style="width: 100%; text-align: center; margin: 45px 0; font-size: 13px; font-family: Verdana;">
                      <tr>
                        <td>
                          <img src="img/logo.png" style="height: 80px;">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5 style="margin-top: 15px; margin-bottom: 5px; font-weight: 800"><span style="display: block; margin-top: 15px;">John Doe International Hospital</span></h5>
                          <p style="margin-top: 5px; margin-bottom: 15px; font-size: 15px; font-weight: 600"><span style="display: block;">Hospital Address two</span></p>
                          <span style="display: block; margin-top: 5px;">Phone No. *********, Fax: **********</span>
                        </td>
                      </tr>
                    </table>
                    <table style="width: 100%; text-align: center; margin: 45px 0; font-size: 13px; font-family: Verdana;">
                      <tr>
                        <td>
                       <a  href="javascript:;" [routerLink]="['/Join']">   <h5 style="font-weight: 600;font-size: 15px; background: #009688; padding: 15px; color: #fff;">Invitation from Fewa Telemedicine</h5></a>
                        </td>
                      </tr>  
                    </table>
                    <table style="font-family: Verdana; font-size: 13px; width: 100%;border-collapse: inherit !important;">
                      <tr style="border: 1px solid #fff; border-top: none">
                        <td style="padding: 8px; padding-top: 0" align="center">This is <strong>{{this.global.doctorObj.NameTitle}}&nbsp;&nbsp;{{this.global.doctorObj.DoctorName}}</strong>.<br/> Please click this link to join me for a secure video meeting  - <br/><a href="javascript:;" style="margin-top:15px" [routerLink]="['/Join']"
                            [queryParams]="{'MeetingId':this.global.doctorObj.MeetingId}" [state]="">link</a>
  
                        </td>
                      </tr>
                      
                    </table>
                    <!-- Report Printable area end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span class="">Powered by © Fewa Telehealth 2020 <img src="./img/logo-cap.png" class="powered-footer-logo"></span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>