<div class="doctor-room">

  <iframe [src]="global.config.videourl | safe"
          width=800
          height=640
          scrolling="auto"
          allow="microphone; camera"></iframe>
  <div class="patient-info">
    <div class="info-heading">
      <img src="./assets/img/hospital.png" height="50px">
    </div>
    <div class="info-listing" *ngIf="(this.global.IsDoctor)">
      <table border="0">
        <tr><td cellpadding="0" cellspacing="0" colspan="2" class="p-que"><i class="fa fa-user"></i>Patients in Queue</td></tr>
        <tr *ngFor="let temp of patients">
          <td cellpadding="0" cellspacing="0">&nbsp;{{temp.PatientId}})&nbsp;&nbsp;{{temp.PatientName}}</td>
          <td cellpadding="0" cellspacing="0"><a (click)="CallPatient(temp)" [routerLink]="['/DoctorRoom']" *ngIf="temp.Status==0" class="btn-call"><i class="fa fa-video-camera"></i>Call</a></td>
          <td cellpadding="0" cellspacing="0" *ngIf="temp.Status==1">In Call</td>
        </tr>
      </table>
    </div>
    <div *ngIf="showPatDetail" class="p-all">
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Patient Id : <span>{{global.patientObj?.PatientId}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Patient Name : <span>{{global.patientObj?.PatientName}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Age : <span>{{global.patientObj?.Age}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Sex : <span>{{global.patientObj?.Sex}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Email : <span>{{global.patientObj?.Email}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;MobileNumber : <span>{{global.patientObj?.MobileNumber}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Address : <span>{{global.patientObj?.Address}}</span></label>

      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Fever : <span [ngClass]="global.patientObj?.Fever == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Fever | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Cough : <span [ngClass]="global.patientObj?.Cough == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Cough | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Breathing Difficulty : <span [ngClass]="global.patientObj?.BreathingDifficulty == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.BreathingDifficulty| yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Tiredness : <span [ngClass]="global.patientObj?.Tiredness == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Tiredness | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Sore Throat : <span [ngClass]="global.patientObj?.SoreThroat == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.SoreThroat | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Bodyache : <span [ngClass]="global.patientObj?.Bodyache == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Bodyache | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Chest Pain : <span [ngClass]="global.patientObj?.ChestPain == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.ChestPain | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Diarrhea : <span [ngClass]="global.patientObj?.Diarrhea == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Diarrhea | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Any Other Symptoms : <span>{{global.patientObj?.AnyOtherSymptoms}}</span></label>

      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Heart Disease : <span [ngClass]="global.patientObj?.HeartDisease == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.HeartDisease | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;High Blood Pressure : <span [ngClass]="global.patientObj?.HighBloodPressure == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.HighBloodPressure | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Diabetes : <span [ngClass]="global.patientObj?.HeartDisease == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Diabetes | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Copd/Asthma : <span [ngClass]="global.patientObj?.Copd == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Copd | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Transplant : <span [ngClass]="global.patientObj?.Transplant == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Transplant | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Recent Travel : <span [ngClass]="global.patientObj?.RecentTravel == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.RecentTravel| yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Cancer : <span [ngClass]="global.patientObj?.Cancer == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Cancer | yesNoPipe}}</span></label>
      <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Exposure of Covid Patient : <span [ngClass]="global.patientObj?.Exposure == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Exposure | yesNoPipe}}</span></label>

      <label for="">  <span>&#10148;</span>&nbsp;&nbsp;Other Pertinent Information : <span>{{global.patientObj?.PatientMedicalSymptoms}}</span></label>
      <!-- <label for="">  <span>&#10148;</span>&nbsp;&nbsp;Other Patient Information :- <span>{{global.patientObj?.OtherPatientInformation}}</span></label> -->


      <span *ngIf="(this.global.IsDoctor)" style="margin-bottom: 15px; display: block">Treatment Advice :</span> <textarea *ngIf="(this.global.IsDoctor)" [(ngModel)]="global.patientObj.Medication"></textarea>
      <input *ngIf="(this.global.IsDoctor)" type="button" value="Complete Visit" (click)="PatientAttended(global.patientObj)">
    </div>
  </div>
</div>
