<div class="full-section">
    <div class="brand-title">
        <img src="assets/img/logo-cap.png" class="brand-img">
        <h1>
            <!--  DANPHE TELEHEALTH -->
            Connect with your doctor from your home
            <!-- <span>Connect with your doctor from  your home</span> -->
        </h1>
    </div>
    <div class="patient-login">
        <h5 class="form-header">Patients<span>Login from here.</span></h5>
        <form [formGroup]="patientFrm">
            <table>
                <tr>
                    <!--  <td>
                        User Name :-
                    </td> -->
                    <td>
                        <label> User Name :</label>
                        <input [(ngModel)]="patientObj.PatientName" type="text" name="UserName" value="" formControlName="patUsrName" />
                        <div *ngIf="hasError('required','patUsrName')" style="color: red;">User Name is required</div>
                         <input type="hidden" name="UserType" value="Patient" />
                    </td>
                </tr>
                <tr>
                    <!-- <td valign="top">
                    Covid signs :-
                    </td> -->
                    <td>
                        <label>Covid signs :</label>
                        <div class="form-group text-left">
                            <p class="fever-checkbox">
                                <input [(ngModel)]="patientObj.Fever" type="checkbox" name="" id="fever"
                                    [ngModelOptions]="{standalone: true}">
                                <label for="fever">Fever</label>
                            </p>
                            <p class="fever-checkbox">
                                <input [(ngModel)]="patientObj.Cough" type="checkbox" name="" id="cough"
                                    [ngModelOptions]="{standalone: true}">
                                <label for="cough">Cough</label>
                            </p>
                            <p class="fever-checkbox">
                                <input [(ngModel)]="patientObj.Breathing" type="checkbox" name="" id="breath"
                                    [ngModelOptions]="{standalone: true}">
                                <label for="breath">Breathing</label>
                            </p>
                            <p class="fever-checkbox">
                                <input [(ngModel)]="patientObj.TiredNess" type="checkbox" name="" id="tiredness"
                                    [ngModelOptions]="{standalone: true}">
                                <label for="tiredness">Tiredness</label>
                            </p>
                        </div>
                        <!--  Fever :- <input [(ngModel)]="patientObj.Fever" type="checkbox" name="" id=""><br>
                        Cough:- <input [(ngModel)]="patientObj.Cough" type="checkbox" name="" id=""><br>
                        Breathing:- <input [(ngModel)]="patientObj.Breathing" type="checkbox" name="" id=""><br>
                    TiredNess <input [(ngModel)]="patientObj.TiredNess" type="checkbox" name="" id=""><br> -->
                    </td>
                </tr>
                <tr>
                    <!--  <td valign="top">
                        Any specific problems :-
                    </td> -->
                    <td>
                        <label>Any specific problems :</label>
                        <textarea [(ngModel)]="patientObj.Problem" cols="50" rows="5" name="Problem"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </td>
                </tr>
                <tr>

                    <td>
                        <input type="button" (click)="LoginPatient()" name="name" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="doctor-login">
        <h5 class="form-header">Doctor<span>Login from here.</span></h5>
        <form [formGroup]="doctorFrm">
            <table>
                <tr>

                    <td>
                        <label>User Name :</label>
                        <input [(ngModel)]="doctorObj.DoctorName" type="text" name="UserName" value="" formControlName="docUsrName" />
                        <div *ngIf="hasError('required','docUsrName')" style="color: red;">User Name is required</div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <label>Password:</label>
                        <input [(ngModel)]="doctorObj.Password" type="text" name="Password" value="" formControlName="docPassword"/>
                        <div *ngIf="hasError('required','docPassword')" style="color: red;">Password is required</div>
                        <input type="hidden" name="UserType" value="Doctor" />
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <input type="button" (click)="LoginDoctor()" name="name" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>