<div class="doctor-room">         
   
    <iframe
    [src]="global.config.videourl | safe"
    width=800
    height=640
    scrolling="auto"
    allow="microphone; camera"
  ></iframe>
    <div class="patient-info">
        <div class="info-heading">
            <img src="assets/img/logo-cap.png" height="50px"> 
        </div>
        <div class="info-listing" *ngIf="(this.global.IsDoctor)">
            <table border="0">
                <tr><td cellpadding="0" cellspacing="0" colspan="2">Patients in Queue</td></tr>
                <tr *ngFor="let temp of patients">
                    <td cellpadding="0" cellspacing="0">&nbsp;{{temp.PatientId}}.)&nbsp;&nbsp;{{temp.PatientName}}</td>
                    <td cellpadding="0" cellspacing="0"><a  (click)="CallPatient(temp)" [routerLink]="['/DoctorRoom']" class="text-link">Call</a></td>
                </tr>
            </table>
        </div>
        <div class="p-all">
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Patient Id :- <span>{{global.patientObj?.PatientId}}</span></label>
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Patient Name :- <span>{{global.patientObj?.PatientName}}</span></label>
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Fever :- <span  [ngClass]="global.patientObj?.Fever == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Fever | yesNoPipe}}</span></label>
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Cough :- <span [ngClass]="global.patientObj?.Cough == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Cough | yesNoPipe}}</span></label>
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Tiredness :- <span [ngClass]="global.patientObj?.TiredNess == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.TiredNess | yesNoPipe}}</span></label>
            <label for=""> <span>&#10148;</span>&nbsp;&nbsp;Breathing issues :- <span [ngClass]="global.patientObj?.Breathing == true ? 'badge-yes': 'badge-no'">{{global.patientObj?.Breathing| yesNoPipe}}</span></label>
            <label for="">  <span>&#10148;</span>&nbsp;&nbsp;Details :- <span>{{global.patientObj?.Problem}}</span></label>
            <span *ngIf="(this.global.IsDoctor)" style="margin-bottom: 15px; display: block">Treatment Advice :</span> <textarea *ngIf="(this.global.IsDoctor)" [(ngModel)]="global.patientObj.Medication"></textarea>
            <input *ngIf="(this.global.IsDoctor)" type="button" value="Complete Visit" (click)="PatientAttended(global.patientObj)">
        </div>
    </div>
</div>
