<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <div class="d-flex col-lg-6 d-none d-lg-block bg-light">
                          <div class="align-self-stretch login-left">
                              <img *ngIf="global.isLogo"  src="{{this.practiceObj.logoPath }}" >
                              <img *ngIf="!global.isLogo"  src="/img/logo.png">
                              <p class="my-3">{{practiceObj.description }}</p>
                              <ul>
                                  <li><i class="fa fa-phone"></i>Phone Number: <span
                                          class="text-primary">{{practiceObj.contactNumber}}</span></li>
                                  <li><i class="fa fa-envelope"></i>Email ID: <span class="text-primary"><a
                                              href="">{{practiceObj.email }}</a></span></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h3 text-gray-700 mb-4 heading-text">Fewa Telemedicine<p
                                          class="h6 d-block mt-2">Login</p>
                                  </h1>
                              </div>
                              <form class="user" [formGroup]="providerForm">
                                  <div class="form-group">
                                      <input type="email" class="form-control form-control-user"
                                          formControlName="providerUserName" name="UserName" id="exampleInputEmail"
                                          aria-describedby="emailHelp" placeholder="Username">
                                      <div *ngIf="hasError('required','providerUserName')" style="color: red;">
                                          User Name is required
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control form-control-user"
                                          formControlName="providerPassword" name="Password" id="exampleInputPassword"
                                          placeholder="Password">
                                      <div *ngIf="hasError('required','providerPassword')" style="color: red;">
                                          Password is required
                                      </div>
                                  </div>
                                  <button type="submit"  [disabled]="clicked" href="javascript:;" (click)="LoginProvider(); clicked = true;;"
                                      class="btn btn-primary btn-user btn-block">
                                      Login
                                  </button>
                              </form>
                       </div>
              </div>
        </div>
      </div>
  </div>
</div>
<!-- Footer -->
<footer class="sticky-footer bg-transparent">
  <div class="container my-auto">
      <div class="copyright text-center my-auto">
          <span class="text-white"><img src="/img/logo-cap.png" class="powered-footer-logo d-block">Powered by &copy;
              Danphe Telehealth 2020 </span>
      </div>
  </div>
</footer>
<!-- End of Footer -->
