<div class="row">
    <div class="col-12 col-md-6">
        <div class="pageTitle">
            <h1>dashboard</h1>
        </div>
    </div>
    <div class="col-12 col-md-6 text-right">
        <ul>
            <li>
                <div class="profileHeader">
                    <p>Dr Sanjay</p>
                    <div class="profilePic">
                        <img src="../../../assets/img/profilePic.jpg" class="img-fluid">
                    </div>
                </div>
            </li>
            <li><a>Logout</a></li>
        </ul>
    </div>
</div>