<div class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="d-flex col-lg-6 d-none d-lg-block bg-light">
                                <div class="align-self-stretch login-left">
                                    <img src="img/logo.png" />
                                    <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                                        dolorem facilis aliquam veritatis, quam debitis beatae quaerat id totam dolor,
                                        ipsa dolorum, at iusto. Explicabo numquam, nostrum iste voluptatem maiores.</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>Phone Number: <span
                                                class="text-primary">9876543210</span></li>
                                        <li><i class="fa fa-envelope"></i>Email ID: <span class="text-primary"><a
                                                    href="">dummy@email.com</a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h3 text-gray-700 mb-4 heading-text">Forgot Password<p
                                                class="h6 d-block mt-2">Confirm your Email or Username</p>
                                        </h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input [(ngModel)]="mobno" name="mobno" type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Your Email or mobile number">
                                        </div>
                                        <div class="form-group">
                                            <a href="javascript:;" (click)="GenerateOTP()" class="btn btn-primary btn-user d-block">
                                                Search
                                            </a>
                                            <a href="javascript:;" (click)="VerifyOTP()" class="btn btn-primary btn-user d-block">
                                                Submit
                                            </a>
                                            <a href="javascript:;" class="d-block mt-4 text-center" style="color: #999">
                                                Cancel
                                            </a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-transparent">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span class="text-white"><img src="img/logo-cap.png" class="powered-footer-logo d-block">Powered by
                    &copy; Fewa Telehealth 2020 </span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>