@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fewa Telemedicine-Login</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <app-root></app-root>
    <script src="/ClientApp/runtime-es2015.js" type="module"></script>
    <script src="/ClientApp/runtime-es5.js" nomodule defer></script>
    <script src="/ClientApp/polyfills-es5.js" nomodule defer></script>
    <script src="/ClientApp/polyfills-es2015.js" type="module"></script>
    <script src="/ClientApp/styles-es2015.js" type="module"></script>
    <script src="/ClientApp/styles-es5.js" nomodule defer></script>
    <script src="/ClientApp/scripts.js" defer></script>
    <script src="/ClientApp/vendor-es2015.js" type="module"></script>
    <script src="/ClientApp/vendor-es5.js" nomodule defer></script>
    <script src="/ClientApp/main-es2015.js" type="module"></script>
    <script src="/ClientApp/main-es5.js" nomodule defer></script>
</body>
</html>

