<style>
html,body {
    border: solid black;
    border-width: thin;
    overflow:auto;
    display:block;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

html::-webkit-scrollbar {
        display: none;  /* Chrome */
 } 

#page-top {
    max-width:100%;
    padding:2%;
    background-color: white !important;
}

#content{
    max-width:100%;
    margin:auto;
}
</style>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->    
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
                <nav style="max-width:100%;height:auto;min-width:100vw;"
                class=" col-md-12 col-sm-12 col-xs-12 navbar navbar-expand-sm navbar-expand-xs  navbar-light justify-content-center  bg-white topbar mb-4 static-top shadow">
                <!-- Topbar Navbar -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-text mx-3 align-items-center justify-content-center"><img
                            src="img/logo.png" style="float:none;margin:0 auto;height:auto;width:50%;"
                            class="img-fluid rounded mx-auto d-block" alt=""></div>
                </a>
            </nav>
            <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
  
          <div class="container-fluid">          
            <div class="row m-w100" id="print-section">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="card-body">
                    <!-- Report Printable Area -->
                    <style type="text/css" media="Print">
                      table{
                        font-family: 'Verdana';
                      }
                      @media Print{
                        table{
                          font-family: 'Verdana';
                        }
                      }
                    </style>
                    <!-- <table class="table-responsive" style="width: 100%; text-align: center; margin: 45px 0; font-size: 13px; font-family: Verdana;">
                      <tr>
                        <td>
                          <img src="img/logo.png" style="height: 80px;">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h3 style="margin-top: 15px; margin-bottom: 5px;"><span style="display: block; margin-top: 15px;">John Doe International Hospital</span></h3>
                          <h5 style="margin-top: 5px; margin-bottom: 15px;"><span style="display: block;">Hospital Address two</span></h5>
                          <span style="display: block; margin-top: 5px;">Phone No. *********, Fax: **********</span>
                        </td>
                      </tr>
                    </table> -->
                    <table  class="table-responsive" style="width: 100%; text-align: center;font-size: 13px; font-family: Verdana;">
                      <tr>
                        <td>
                          <h5><u>After Visit Summary Report</u></h5>
                        </td>
                      </tr>  
                    </table>
                    <table  class="table-responsive" style="border:1px solid #000; font-family: Verdana; font-size: 13px; width: 100%;border-collapse: inherit !important;">
  
                      <tr style="border: 1px solid #fff">
                        <td style="padding: 8px;" ><strong>Lab Orders Sent:</strong>{{global.patientObj?.LabOrdersSent| yesNoPipe}}</td>
                      </tr>
                      <tr style="border: 1px solid #fff">
                        <td style="padding: 8px;"><strong>New prescriptions sent to your pharmacy:</strong> {{global.patientObj?.NewPrescriptionsSentToYourPharmacy| yesNoPipe}}</td>
                      </tr>
                      <tr style="border: 1px solid #fff">
                        <td style="padding: 8px;"><strong>New prescriptions mailed to you:</strong>{{global.patientObj?.NewPrescriptionsMailedToYou| yesNoPipe}}</td>
                      </tr>
  
                      <tr style="border: 1px solid #fff; border-bottom: none;">
                        <td style="padding: 8px;"><strong><u>Advice</u></strong></td>
                      </tr>
                      <tr style="border: 1px solid #fff; border-top: none">
                        <td style="padding: 8px; padding-top: 0">{{global.patientObj?.Medication}}</td>
                      </tr>
                      <tr>
                        <td style="padding: 8px; "><strong>Follow up in:</strong> <span>{{global.patientObj?.FollowUpNumber}}</span> {{global.patientObj?.FollowUpMeasure}}</td>
                      </tr>
                    </table>
                    <!-- Report Printable area end -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center mt-4 mb-4">
                <a href="" class="btn btn-primary">Email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-primary" [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>