<style>
    html,
    body {
        border: 1px solid black;
        border-width: thin;
        overflow: auto;
        display: block;
        box-sizing: border-box;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }

    html,
    body ::-webkit-scrollbar {
        display: none;
        /* Chrome */
    }

    #page-top {
        max-width: 100%;
        margin: auto;
        background-color: white !important;
    }

    @media (orientation: portrait) {
        .row {
            width: 100vw;
        }

        .video-frame,
        .col-size {
            padding: 3%;
        }

        #meet {
            width: 100vw;
            height: 50vh;
            padding-left: 5%;
        }

        .right-panel {
            width: 100vw;
            height: 50vh;
            padding: 5%;
            margin: 3%;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
        }

        .my-doc {
            margin-left: 6%;
        }

        .drop {
            margin-left: 6%;
        }

        .right-panel::-webkit-scrollbar {
            display: none;
        }
    }

    @media (orientation: landscape) {
        .row {
            width: 100vw;
        }

        #meet {
            width: 100vw;
            height: 50vh;
            padding-left: 3%;
        }

        .video-frame,
        .col-size {
            padding: 3%;
        }

        .right-panel::-webkit-scrollbar {
            display: none;
            /* Chrome */
        }

        .right-panel {
            width: 100vw;
            height: 50vh;
            padding-left: 5%;
            /* margin:3%; */
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
        }

        .my-doc {
            margin-left: 6%;
        }

        .drop {
            margin-left: 3%;
        }
    }

    .video-frame {
        width: 100vw !important;
        height: 100vh !important;
        margin: 0px !important;
        padding: 0px !important;
    }
</style>

<body id="page-top">
    <div class="row m-w100" style="background-color: white;">
        <div class="col-size col-md-9  col-sm-12 col-xs-12 p-0">
            <div class="video-frame" id="meet">
            </div>
        </div>
    </div>
    <script src="js/vendor.bundle.base.js"></script>
    <script src="js/vendor.bundle.addons.js"></script>
    <!-- <script src="js/vendor.bundle.addons.js"></script> -->
</body>