@import url('https://fonts.googleapis.com/css?family=Exo+2:500,700&display=swap');
html, body{
    height: 100%;
}
body{
    background: #f8f8f8;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    margin: auto;
}

.doctor-room table{
    width: 100%;
}
.doctor-room{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
    height: 100%;
    flex-direction: row;
}
.doctor-room .patient-info, .doctor-room .screen{
    background-color: #fff;
    flex: 30%;
  max-width: 30%;
    margin: auto;
    text-align: left;
    line-height: 75px;
    font-size: 15px;
    padding: 0px;
    border-radius: 5px;
    height: 100%;
    z-index: 999;
}
.doctor-room .screen{
    flex: 75%;
    max-width: 75%;
    padding: 0px;
}
.doctor-room iframe{
    height: 100%;
    width: 100%;
    border: none;
}
input[type="text"], input[type="password"]{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: #f5f6fa;
   font-family: 'Exo 2', sans-serif;
   padding: 7px;
   margin-bottom: 7px;
}
textarea{
   width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: #f5f6fa; 
    font-family: 'Exo 2', sans-serif;
    padding: 7px;
    margin-bottom: 7px;
}

input[type="button"], button{
    background: #009688;
    padding: 10px 30px;
    font-family: 'Exo 2';
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid;
    margin-top: 15px;
    cursor: pointer;
}
.info-heading button{
       padding: 4px 10px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px 0;
    height: 35px;
    border: none;
}
.patient-info .info-heading{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    flex-direction: row;
    background: #fff;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 5px solid #f8f8f8;
}
.patient-info .info-heading input[type="button"]{margin-top: auto}
.patient-info .info-listing, .patient-info .p-all{
    line-height: initial;
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
    display: block;
    width: 95%;
}
.patient-info .p-all label{
    display: block;
    box-shadow: 0px 0px 10px #eee;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}
.patient-info .p-all label span{
    font-weight: 400;
}
.badge-yes{
    background: #ef5b5b;
    color: #fff;
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
}
.badge-no{
    background: #009688;
    color: #fff;
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
}
.p-all{
    max-height: 100%;
    overflow: auto;
}
a{
    color: #009688;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
    display: inline-block;
}
a.text-link{
    margin: 10px;
}
.badge-status{
    float: right;
    padding: 5px 10px;
    display: inline-block;
    font-size: 9px;
}
.m-7-a{
    margin: 7px auto;
}
.wait-section{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
    height: 100%;
    flex-direction: row;
}
.wait-section .brand-title{
    display: block;
    width: 100%;
    text-align: center;
}
.wait-section .brand-title .waiting-icon svg{
    height: 150px;
    width: auto;
}
.wait-section .brand-title .waiting-icon{
    text-align: center;
}
.wait-section .brand-title h1{
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
    color: #333;
}
.user-title{
    color: #009688 !important;
    font-size: 1.5rem !important;
    display: inline !important;
}
img.brand-img{
  height: 80px;
}
    /* Base for label styling */
        /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.55em;
  cursor: pointer;
  margin-bottom: auto;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .10em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #09ad7e;;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
p.fever-checkbox{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 7px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #333;
    margin-top: auto;
}
.full-section table{
    width: 100%;
}
.full-section{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
    height: 100%;
    flex-direction: row;
}
.full-section .patient-login, .full-section .doctor-login, .full-section .brand-title{
    background-color: #fff;
    flex: 30%;
  max-width: 30%;
    margin: 10px;
    text-align: left;
    line-height: normal;
    font-size: 15px;
    padding: 25px;
    border-radius: 5px;
    height: 60%;
    z-index: 999;
}
.brand-title{
    background-color: transparent !important;
    box-shadow: none !impaortant;
    height: auto !important;
}
.full-section .doctor-login{
    box-shadow: none;
}
input[type="text"], input[type="password"]{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: #f5f6fa;
   font-family: 'Exo 2', sans-serif;
   padding: 7px;
   margin-bottom: 7px;
}
textarea{
   width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: #f5f6fa; 
    font-family: 'Exo 2', sans-serif;
    padding: 7px;
    margin-bottom: 7px;
}
table td label{
    font-size: 14px;
    margin: 7px auto;
    display: inline-block;
    font-weight: 500;
}
.brand-title h1{
line-height: normal;
    color: #009688;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5rem auto;
    margin-top: 1rem;
}
.brand-title h1 span{
    font-size: 35px;
    margin-top: 5px;
    display: block;
    color: #333;
    margin-bottom: 25px;
}
h5.form-header{
    color: #009688;
    line-height: initial;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: 25px;
}
h5.form-header span{
    display: block;
    color: #555;
    font-size: 15px;
}
.full-section:before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    background: #3f51b5;
    height: 100%;
}
img.brand-img{
  height: 150px;
}
.waiting-icon ul{
    text-align: left;
}
.waiting-icon ul.inline{
    margin: 30px auto;
    text-align: left;
}
.waiting-icon ul li{
    display: block;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    text-align: left;
    margin: auto;
    font-size: 14px;
    position: relative;
}
.waiting-icon ul li span{
    position: absolute;
    background: #009688;
    height: 20px;
    width: 20px;
    text-align: center;
    left: -20px;
    border-radius: 100%;
    color: #fff;
    padding: 2px;
}
.wait-section .report-title{
    width: 70%;
    text-align: center;
    background: #fff;
    margin: 25px auto;
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 50px;
}
.wait-section .report-title h1{
    font-size: 20px;
    font-weight: 400;
}
@media (max-width:900px){
    body{
        padding: 20px;
    }
  .full-section:before{
    background: transparent;
  }
  .full-section{
    flex-direction: row !important;
    height: auto;
    align-items: flex-start;
  }
  .full-section .patient-login, .full-section .doctor-login, .full-section .brand-title{
    max-width: 100%;
    height: auto;
    flex: 100%;
    width: 100%;
  }
  .brand-title h1{
    font-size: 1.5rem;
    margin: auto;
  }
  .brand-title h1 span{
    font-size: 1rem;
  }
  img.brand-img{
    height: 80px;
  }
}
@media (max-width:480px){
    body{
        padding: 20px;
        overflow: auto;
    }
    .doctor-room{
        flex-direction: column;
    }
  .full-section:before{
    background: transparent;
  }
  .full-section{
    flex-direction: column !important;
    align-items: center;
  }
  .full-section .patient-login, .full-section .doctor-login, .full-section .brand-title{
    max-width: 100%;
    height: auto;
    flex: 100%;
    width: 100%;
  }
  .brand-title h1{
    font-size: 1.5rem;
    margin: auto;
  }
  .brand-title h1 span{
    font-size: 1rem;
  }
  img.brand-img{
    height: 80px;
  }
  
}
