@import '../../../global.scss';

// tab menu
.userTabsMenu{
    display: flex;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 15px rgba(151, 113, 113, 0.04);
    .nav-pills{
        width: 200px;
        height: 100%;
        
        a{
            color: var(--primary);
            font-size: 16px;
            border-radius: 0;
            &.active{
                color: $white;
                background: var(--primary);
            }
        }
    }
    .tab-content{
        width: calc(100% - 200px);
        border-left: 1px solid $light-color;
        .tab-pane{
            padding: 15px;
            height: calc( 100vh - 121px);
            overflow-y: auto;
            .tab-forms{
                padding: 15px 0;
                .button-theme{
                    color: $white;
                    background-color: var(--primary); 
                    font-size: 16px;
                    padding: 10px 10px;
                    border-radius: 5px;
                }

                h2{
                    color: var(--primary);
                    font-size: 18px;
                    text-decoration: underline;
                }
                .form-group{
                    label{
                        color: $gray;
                        font-size: 14px;
                    }
                    .wdt-30{
                        margin-right: 15px;
                    }
                }
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        display: inline-block;
                        .cancelBtn{
                            border:1px solid var(--primary);
                            color: var(--primary);
                            font-size: 16px;
                            margin-right: 15px;
                            padding: 10px 40px;
                            border-radius: 5px;
                        }
                        .saveBtn{
                            color: $white;
                            background-color: var(--primary);
                            font-size: 16px;
                            padding: 10px 40px;
                            border-radius: 5px;
                        }
                    }
                }
                input#file-upload1 {
                    border: 1px solid $light-color;
                    font-size: 14px;
                    width: 100%;
                    padding: 5px;
                    background: var(--primary-light);
                    color: $white !important;
                    border-radius: 5px;
                }
            }
        }
    }
}

.red-text {
    color: red;
}

.message{
    color: blue;
    padding: 5px;
}
.errorMessage{
    color: red;
    text-align: center;
    padding: 5px;
}
.tableFixHead          { overflow-y: auto; height:224px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
