
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Telemedicine</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script src="/dist/telemedicine/runtime-es2015.js" type="module"></script>
    <script src="/dist/telemedicine/runtime-es5.js" nomodule defer></script>
    <script src="/dist/telemedicine/polyfills-es5.js" nomodule defer></script>
    <script src="/dist/telemedicine/polyfills-es2015.js" type="module"></script>
    <script src="/dist/telemedicine/styles-es2015.js" type="module"></script>
    <script src="/dist/telemedicine/styles-es5.js" nomodule defer></script>
    <script src="/dist/telemedicine/vendor-es2015.js" type="module"></script>
    <script src="/dist/telemedicine/vendor-es5.js" nomodule defer></script>
    <script src="/dist/telemedicine/main-es2015.js" type="module"></script>
    <script src="/dist/telemedicine/main-es5.js" nomodule defer></script>
</body>
</html>


