<style>
    .saveBtn:disabled {
        cursor: not-allowed;
        opacity: .6;
        background: red;
    }
</style>
<div class="fewa_header">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="pageTitle">
                <h1>Account Settings</h1>
            </div>
        </div>
        <div class="col-12 col-md-6 text-right">
            <ul>
                <li>
                    <div class="dropdown">
                        <div class="profileHeader dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p *ngIf="(global.providerObj.name==null && providerObj.name==null)||(global.providerObj.name=='' && providerObj.name=='')">
                                Upload Profile</p>
                            <p> {{providerObj.nameTitle}}&nbsp;{{providerObj.name}}&nbsp;</p>
                            <div class="profilePic">
                                <img *ngIf="!providerObj.image" src="/assets/img/profilePic.jpg" class="img-fluid">
                                <img *ngIf="providerObj.image" class=" img-fluid" [src]="providerObj.image">
                            </div>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/provider/login">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fewa_sidemenu">
    <app-sidemenu></app-sidemenu>
</div>

<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="userTabsMenu">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
                    <a class="nav-link" id="v-pills-advice-tab" data-toggle="pill" href="#v-pills-advice" role="tab" aria-controls="v-pills-advice" aria-selected="false">Advice</a>
                </div>
                <!-- Profile-->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="fewa-title">
                            <h1 style="width: 300px;">Update Profile</h1>
                            <div class="message" *ngIf="this.updateMsg">Your profile has been successfully updated</div>
                        </div>
                        <div class="tab-forms"> 
                            <form [formGroup]="userForm">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Name<span class="red-text">*</span></label>
                                            <div class="display-flex">
                                                <select name="" class="form-control wdt-30" id="" formControlName="name_title">
                                                    <option>Dr.</option>
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                                    <option>Miss.</option>
                                                    <option>Ms.</option>
                                                    <option>Other</option>
                                                </select>
                                                <div *ngIf="userFormControls.name_title.touched && userFormControls.name_title.invalid" style="color: red;">
                                                    <div *ngIf="userFormControls.name_title.errors.required"> Title is required.
                                                    </div>
                                                </div>

                                                <input type="text" class="form-control wdt-70" name="name" formControlName="name">
                                                <div *ngIf="userFormControls.name.touched && userFormControls.name.invalid" style="color:red;">
                                                    <div *ngIf="userFormControls.name.errors.required">Name is required.
                                                    </div>
                                                    <div *ngIf="userFormControls.name.errors.pattern">Name should not be number.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Email<span class="red-text">*</span></label>
                                            <input type="email" class="form-control" name="email" formControlName="email">
                                            <div *ngIf="userFormControls.email.touched && userFormControls.email.invalid" style="color: red;">
                                                <div *ngIf="userFormControls.email.errors.required">Email is required.
                                                </div>
                                                <div *ngIf="userFormControls.email.errors.pattern">Invalid email address.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Contact No.<span class="red-text">*</span></label>
                                            <input maxlength="14" placeholder="eg:- (999) 999-9999" type="text" class="form-control" name="mobileNumber" formControlName="phone">
                                            <div *ngIf="userFormControls.phone.touched && userFormControls.phone.invalid" style="color: red;">
                                                <div *ngIf="userFormControls.phone.errors.required">Contact number is required.
                                                </div>
                                                <div *ngIf="userFormControls.phone.errors.pattern">Invalid contact number.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Designation<span class="red-text">*</span></label>
                                            <input type="text" class="form-control" name="designation" formControlName="designation">
                                            <div *ngIf="userFormControls.designation.touched && userFormControls.designation.invalid" style="color:red;">
                                                <div *ngIf="userFormControls.designation.errors.required">Designation is required.
                                                </div>
                                                <div *ngIf="userFormControls.designation.errors.pattern">Designation should not be number.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Medical Degree<span class="red-text">*</span></label>
                                            <input type="text" class="form-control" name="medical_degree" formControlName="medical_degree">
                                            <div *ngIf="userFormControls.medical_degree.touched && userFormControls.medical_degree.invalid" style="color: red;">
                                                <div *ngIf="userFormControls.medical_degree.errors.required">Medical degree is required.
                                                </div>
                                                <div *ngIf="userFormControls.medical_degree.errors.pattern">Medical degree should not be number.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Profile Image</label>
                                            <input id="file-upload1" class="form-control" type="file" placeholder="Choose File" formControlName="profile_image" (change)="onFileChanged($event)" accept=".png,.jpg,.jpeg" />
                                            <div *ngIf="userFormControls.profile_image.touched && userFormControls.profile_image.invalid" style="color: red;">
                                                <div *ngIf="userFormControls.profile_image.errors.required">Image is required.
                                                </div>
                                            </div>
                                            <div *ngIf="userFormControls.profile_image.touched && userFormControls.profile_image.invalid" style="color: red;">
                                                <div *ngIf="userFormControls.profile_image.errors.required">Image is required.
                                                </div>
                                            </div>
                                            <label *ngIf="selectedFile"> {{selectedFile.name}}</label>
                                            <div class="errorMessage" *ngIf="this.fileFormatMsg">Upload only image, file format not allowed</div>
                                            <div class="errorMessage" *ngIf="this.fileSizeMsg">Please upload file less than 2MB</div>                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Reset Password</label>
                                            <input type="password" placeholder="Enter Reset Password" class="form-control"name="password" formControlName="new_password">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 text-right">
                                        <ul style="margin: 28px;">
                                            <li><button type="submit" (click)="resetUserForm()" class="cancelBtn">Cancel</button></li>
                                            <li><button type="submit" [disabled]="!userForm.valid || this.fileLimitExceeded" (click)="updateProfile()" class="saveBtn">Save</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                   <!-- Advice -->
                   <div class="tab-pane fade" id="v-pills-advice" role="tabpanel" aria-labelledby="v-pills-advice-tab">
                    <div class="fewa-title">
                        <h1>Update Advice</h1>
                        <div class="message" *ngIf="this.addAdviceMsg">Provider advice is saved successfully</div>
                        <div class="message" *ngIf="this.removeRecordMsg">Advice deleted successfully</div>
                        <div class="message" *ngIf="this.updateRecordMsg">Advice updated successfully</div>
                         <div class="errorMessage" *ngIf="this.adviceLimitMsg" style="text-align: center;">You can not add more than 10 advices</div>
                    </div>
                    <div class="tab-forms" style="max-height:546px;">
                        <form [formGroup]="adviceForm">
                            <div class="row">
                                <div class="col-12" style="height: 60px;">
                                    <div class="form-group">
                                        <label>Advice Name<span class="red-text">*</span></label>
                                        <input type="text" placeholder="Advice Name" class="form-control" name="advice" formControlName="advice">
                                        <div *ngIf="adviceFormControls.advice.touched && adviceFormControls.advice.invalid" style="color: red;">
                                            <div *ngIf="adviceFormControls.advice.errors.required">Advice Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right" style="height: 65px;">
                                    <ul>
                                        <li><button type="submit" (click)="resetAdviceForm()" class="cancelBtn">Reset</button></li>
                                        <li><button type="submit" [disabled]="!adviceForm.valid || updateButton" (click)="addAdvice()" class="saveBtn">Save</button></li>&nbsp;&nbsp;
                                        <li><button type="submit" [disabled]="!adviceForm.valid || !updateButton" (click)="editAdvice()" class="saveBtn">Update</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card" style="box-shadow: none;">
                                        <div class="card-body" style="padding: unset;">
                                            <div class="fewa-title">
                                                <h1 style="text-align: left; display: inline;">Advice List</h1>
                                            </div><br>
                                            <div class="table-responsive tableFixHead">
                                                <table class="table table-bordered" style="width:100%;text-align:center;">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No</th>
                                                            <th>Advice</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let array of providerAdvice.slice(0, 10); let i=index">
                                                            <td>{{i+1}}</td>
                                                            <td>{{array.advice}}</td>
                                                            <td>
                                                                <a (click)="edit(array)" href="javascript:;">
                                                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28px" height="28px">
                                                                        <path
                                                                            d="M14.5 5.5L3 17 3 21 7 21 18.5 9.5zM21.707 4.879l-2.586-2.586c-.391-.391-1.024-.391-1.414 0L16 4l4 4 1.707-1.707C22.098 5.902 22.098 5.269 21.707 4.879z" />
                                                                    </svg>
                                                                </a>
                                                                &nbsp;&nbsp;
                                                                <a (click)="removeAdvice(array.adviceId)" href="javascript:;">
                                                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28px" height="28px">
                                                                        <path
                                                                            d="M 10 2 L 9 3 L 4 3 L 4 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 5 7 L 5 20 C 5 21.1 5.9 22 7 22 L 17 22 C 18.1 22 19 21.1 19 20 L 19 7 L 5 7 z M 8 9 L 10 9 L 10 20 L 8 20 L 8 9 z M 14 9 L 16 9 L 16 20 L 14 20 L 14 9 z" />
                                                                    </svg>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>