<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-basic-title">
                            Send Email
                        </h5>
                        <button type="button" class="close" aria-label="Close" (click)="CloseModal()">
                            <span aria-hidden="true">
                                ×
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="sendEmailForm" #formDir="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="emailAddress">
                                            Email Address :
                                        </label>
                                    </div>
                                    <div class="input-group col-md-9">
                                        <input type="email" formControlName="email" id="email" required
                                            class="form-control" placeholder=" Enter Email Address" name="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <small class="text-danger" *ngIf=" hasError('required','email')"> Email
                                            is required</small>
                                        <small class="text-danger" *ngIf="hasError('pattern','email')">Please provide a
                                            valid Email </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="SendEmail()" [disabled]="!formDir.valid">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>