<body id="page-top">
  <div class="row m-w100">
    <div class="col-md-9  col-sm-12 col-xs-12 p-0">
      <div class="video-frame">
        <iframe width="560" height="315" [src]="global.config.videourl | safe"
        frameborder="0" allow="microphone; camera" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 p-0 right-panel">
      <!-- My doctor Info -->
      <div class="my-doc">
        <img *ngIf="retrievedImage" class="img-profile rounded-circle" [src]="Transform()" width="25%">
        <img *ngIf="!retrievedImage"  src="/img/doc.svg" alt="" class="doc-img-p">
        <h5 class="mt-4">{{providerObj.nameTitle}} &nbsp;&nbsp;{{providerObj.name}} </h5>
        <span class="d-block mt-2"><i class="fa fa-user-md"></i>{{providerObj.designation}} </span>
        <p class=""><i class="fa fa-hospital-o"></i>{{providerObj.clinic}} </p>
      </div>
      <!-- End My doc info -->
      <!-- Text Accrodian -->
      <div class="card mb-4 br-0 b-0 accordionItem open">
        <!-- Card Header - Dropdown -->
        <div class="card-header accordionItemHeading py-3 d-flex flex-row align-items-center justify-content-between br-0">
          <h6 class="m-0 font-weight-bold"><i class="fa fa-comments"></i>Send Message</h6>                  
        </div>
        <!-- Card Body -->
        <div class="card-body p-0 accordionItemContent">
          <div class="chatbox-holder">
    <div class="chatbox">    
      <form [formGroup]="ChatForm">
       <div class="chat-messages">
        <label for="selPatient">Provider:
        </label>
        <select  id="selPatient" formControlName="selUser" (change)="OnChatUserChange()">
          <option disabled value="null">Select Provider</option>
          <option *ngFor="let user of providers"> {{ user.userName }} </option>
        </select>
        <div *ngIf="hasError('required','selUser') && showChat" style="color: red;display: inline;">
          {{ global.isProvider ? 'Patient' : 'Provider' }} is required
        </div>
  
        <div #scrollBtm class="message-box-holder" *ngFor="let msg of ChatMessages">
          <div class="message-sender">
          <b> {{ msg.name }} :-</b> {{ msg.message }}
          </div>
          </div>  
           
         </div>
      
      <div class="chat-input-holder" >
        <textarea class="chat-input" placeholder="Type your message here.."  formControlName="chatMessage" (keyup)="onChatEnter($event)"></textarea>
        <div *ngIf="hasError('required','chatMessage')" style="color: red;"> Chat message is required </div>
        <input type="button" value="Send" class="message-send btn-primary" (click)="SendChatMsg()" />
      </div>
      
    </form>
    </div>
  </div>
        </div>
      </div>
      <!-- Texts Accrodian End -->
      <!-- See File On popup click  -->
      <div id="myModalpdf" class="modal fade uploads" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <!-- Inorder to load PDF -->
              <embed src="/img/Telemedicine.pdf" target="_blank">
              <!-- END -->

            </div>

          </div>
        </div>
      </div>
      <!-- End See File On popup click  -->
      <!-- See File On popup click  -->
      <div id="myModalimg" class="modal fade uploads" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <!-- Inorder to load PDF -->
              <img src="/img/1.jpg" alt="">
              <!-- END -->

            </div>

          </div>
        </div>
      </div>
      <!-- End See File On popup click  -->
      <div class="drop">
        <div class="cont">
          <div class="desc">
            your files to Assets, or
          </div>
          <div class="btn btn-sm btn-primary" [routerLink]='["/Upload"]'>
            click here to browse
          </div>
        </div>
      </div>
      <!-- Upload end -->
    </div>
  </div>
  <script src="js/vendor.bundle.base.js"></script>

  <script src="js/vendor.bundle.addons.js"></script>
  <script>
    var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
      accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {
      var itemClass = this.parentNode.className;
      for (i = 0; i < accItem.length; i++) {
        accItem[i].className = 'accordionItem close';
      }
      if (itemClass == 'accordionItem close') {
        this.parentNode.className = 'accordionItem open';
      }
    }

  </script>
  <script type="text/javascript">
    var drop = $("input");
    drop.on('dragenter', function (e) {
      $(".drop").css({
        "border": "2px dashed #09f",
        "background": "#f4f1f1"
      });
      $(".cont").css({
        "color": "#09f"
      });
    }).on('dragleave dragend mouseout drop', function (e) {
      $(".drop").css({
        "border": "3px dashed #DADFE3",
        "background": "#f4f1f1 "
      });
      $(".cont").css({
        "color": "#555"
      });
    });



    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object

      // Loop through the FileList and render image files as thumbnails.
      for (var i = 0, f; f = files[i]; i++) {

        // Only process image files.
        if (!f.type.match('image.*')) {
          continue;
        }

        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function (theFile) {
          return function (e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" src="', e.target.result,
              '" title="', escape(theFile.name), '"/>'].join('');
            document.getElementById('list').insertBefore(span, null);
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }

    $('#files').change(handleFileSelect);
  </script>

</body>