<style>
html,body {
  border:1px solid black;
  border-width: thin;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

html::-webkit-scrollbar {
        display: none;  /* Chrome */
 } 

@media (orientation: portrait) {
  footer {
    padding:17%;
    padding-left:20%;
    bottom:2%;
    height:25vh;
  }
  .container {
    height:75vh;
  }

}

@media (orientation: landscape) { 
  footer {
    padding:17%;
    padding-left:20%;
    bottom:2%;
    height:25vh;
  }
  .container {
    height:75vh;
  }
}
</style>
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
  
      <div class="col-md-9 col-sm-12 col-xs-12">
  
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="d-flex col-sm-12 d-none d-lg-block bg-light">
                <div class="align-self-stretch login-left">
                  <!--<img src="img/logo.png" />-->
  
                  <p class="my-3"></p>
  
                  <div class="p-2">
                    <div class="text-center">
                      <h1 class="h3 text-gray-700 mb-4 heading-text">File Upload<p class="h6 d-block mt-2">your files to
                          Assets, or</p>
                      </h1>
                    </div>
                    <form class="user">
                      <div class="row form-group" class="h6 d-block mt-2">
                        <input name='inputfile' type="file" #file placeholder="Choose file" style="display: none;" (change)="uploadFile(file.files)" multiple >
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary btn-user btn-block" (click)="file.click()">Upload File</button>
                      </div>
                      
                       <div class="col-md-4">
                        <span style="color: red;"*ngIf="progress > 0">
                          {{progress}}%
                        </span>
                        <span style="color: green;" *ngIf="message">
                          {{message}}
                        </span>
                   
                      </div>
                      <a href="javascript:;" class="nav-item nav-link btn btn-success btn-sm active"  id="nav-home-tab"
                      data-toggle="tab" (click)="backToCall()"  role="tab" aria-controls="nav-home"
                      aria-selected="true"><i class="fa fa-share"></i>Back to Call</a> 
                
                    </form>
                  </div>
  
                </div>
              </div>
              <div class="col-sm-12">
                <div class="p-4">
  
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold"><i class="fa fa-calendar"></i>Uploaded files</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table table-striped" id="dataTable">
                      <thead>
                        <tr>
                          <th>File name</th>
  
                          <!-- <th>Phone</th>
                    <th>Email</th> -->
                        </tr>
                      </thead>
                      <tr *ngFor="let temp of docArray">
                        <td><a href="javascript:;">{{temp.filename}}</a></td>
                      </tr>
                    </table>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="sticky-footer bg-transparent">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span class="text-white"><img src="img/logo-cap.png" style="float:none;margin:0 auto;height:auto;max-width:30%;"
          class="img-fluid powered-footer-logo d-sm-block d-xs-block">Powered by &copy;
          Danphe Telehealth 2020 </span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->