<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="liveChatSection">
    <div class="row">
        <div class="col-12 col-xs-6">
            <div class="position-relative">
                <div class="videoLive">
                    <jitsi-call *ngIf="isMeetStart" [roomName]="roomName" [remoteUserDisplayName]="remoteUserDisplayName"></jitsi-call>

                    <test-audio-video *ngIf="isWaiting"></test-audio-video>
                </div>
                <div class="VideoUserName">
                        <h2 *ngIf="!isWaiting">{{global.currentProvider}}</h2>
                        <h2 *ngIf="isWaiting">Please wait <strong>{{global.currentProvider}}</strong> will start this secure video visit.</h2>
                </div>
            </div>
        </div>
    </div>
</div>